.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #000000, #3a3439, #6b6976, #98a6ba, #c2e9fb);
  min-height: 100vh;
}

.card {
  min-width: 9em; 
}

.input-margin {
  margin-top: 1.86em;
}
